body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #37474f;
  color: #dee4e7;
}

h1 {
  font-size: 44px;
}

h3 {
  margin: 130px 0 40px 0;
  font-size: 32px;
  color: #9a9a9a;
}

button {
  cursor: pointer;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ffffff;
  font-size: 18px;
}

input[type="text"] {
  background: transparent;
  border: none;
  color: #fff;
  padding-left: 10px;
}

.add__btn {
  margin-left: 20px;
  width: 60px;
  height: 40px;
  border: none;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 18px;
  background-color: #dee4e7;
  cursor: pointer;
}

.add__btn:hover {
  transition: all 0.3s ease;
  background-color: #bec6ca;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: #222;
  height: 480px;
  width: 480px;
  text-align: center;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.modal-btns__wrappper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.modal-update__btn {
  width: 90px;
  height: 36px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  background-color: #ffd24c;
}

.modal-update__btn:hover {
  transition: all 0.3s ease;
  background-color: #e1b93f;
}

.modal-close__btn {
  width: 90px;
  height: 36px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  background-color: #b2b2b2;
}

.modal-close__btn:hover {
  transition: all 0.3s ease;
  background-color: #848484;
}

.exit__btn {
  float: right;
  cursor: pointer;
  color: #9a9a9a;
}

.exit__btn:hover {
  transition: all 0.3s ease;
  color: #9a9a9a;
}

.wrapper__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 60px auto;
  width: 900px;
  padding: 10px;
  background-color: #dee4e7;
  border-radius: 20px;
}

.todo__wrapper {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 90px;
  margin: 20px auto;
  padding: 16px;
  align-items: center;
  background-color: #222;
  border-radius: 14px;
}

.btns__wrapper {
  display: flex;
  flex-direction: row;
}

.edit__btn {
  width: 90px;
  height: 36px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background-color: #ffd24c;
}

.delete__btn {
  width: 90px;
  height: 36px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  background-color: #b2b2b2;
}
.edit__btn:hover {
  transition: all 0.3s ease;
  background-color: #d8b139;
}

.delete__btn:hover {
  transition: all 0.3s ease;
  background-color: #9a9a9a;
}
